@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
  
}

html {
  scroll-behavior: smooth;
}

body {
    
    opacity: 1;
    background-image: radial-gradient(#d7d41e 0.6000000000000001px, #ffffff 0.6000000000000001px);
    background-size: 12px 12px;
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgray; 
}

main {
  width: 1120px;
 
}
h1{
  font-size:40px;
}

.empresa-img{
  width: 80px;
  border-radius: 50%;
}
.empresas{
  margin-top: 30px;
  margin-bottom: 100px;
}

.icons-stack{
  width: 30px;
  height: 30px;
}

/* cabecalho */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  height: 85px;
  position: fixed;
  top: 0;
  z-index: 999;
  max-width: 1120px;
  width: 100%;

}

.nav-list {
  display: flex;
  gap: 30px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* inicio */

section#home {
  height: calc(100vh + 80px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 20px;
  width: 100%;
  
}

.home-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: justify;
}

.home-info button {
  border: none;
  width: 150px;
  padding: 10px;
  background-color: #ffa600;
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;
}

.home-info button a{
  color: white;
}

.home-info button:hover{
  opacity: 1;
}

.home-img {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-img img {
  width: 300px;
  height: 300px;
  animation: float 3s ease-in-out infinite;
  box-shadow: 0 10px 10px;
  border-radius: 50%;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* projetos */

section#projects {
  height: calc(100vh + 80px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.project-img {
  width: 50%;
}

.project-img img {
  box-shadow: 0 1px 1px rgba(33, 31, 31, 0.2);
  object-fit: cover;
  width: 80%;
}

.project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.swiper {
  width: 95vw;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.swiper-button-next, 
.swiper-button-prev {
  color: #f55b02;
}

.swiper-pagination-bullet-active {
  background-color: #f55b02 ;
}


/* contatos */
#contact {
  height: calc(100vh + 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.contact-icons {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; 
  text-align: center;
}

.contact-icons .project-info {
  display: flex;
  align-items: center;
}

#xp{
  
    height: calc(100vh + 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }


/* footer */
footer {
  padding: 25px;
  align-items: center;
  text-align: center;
}



@media (max-width: 450px) {
  header {
    justify-content: center;
  }
  
  .logo {
    display: none;
  }

  section#home {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .home-info, .home-img {
    width: 100%;
    padding: 10px;
  }

  .swiper-slide {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .project-img {
    width: 100%;
  }
 
  .project-info {
    width: 80%;
  }
}


.social{
  height: 50px;
  width: 50px;
}
